@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-gray-50: #f0f1f3;
  --color-gray-100: #e6e8eb;
  --color-gray-200: #c3c7ce;
  --color-gray-300: #a5acb5;
  --color-gray-400: #87909d;
  --color-gray-500: #697484;
  --color-gray-600: #556070;
  --color-gray-700: #424e60;
  --color-gray-800: #2b384c;
  --color-gray-900: #132238;
  --color-primary-100: #edd8ff;
  --color-primary-200: #dbb1ff;
  --color-primary-300: #c98bff;
  --color-primary-400: #b764ff;
  --color-primary-500: #a53dff;
  --color-primary-600: #8431cc;
  --color-primary-700: #632599;
  --color-primary-800: #421866;
  --color-primary-900: #210c33;
}

@layer base {
  /* h1 {
    @apply font-bold text-6xl;
  }

  h2 {
    @apply font-bold text-5xl;
  }

  h3 {
    @apply font-bold text-4xl;
  }

  h4 {
    @apply  font-bold text-3xl;
  }

  h5 {
    @apply font-bold text-2xl;
  } */
}

@layer components {
  .text-display {
    @apply font-semibold text-7xl;
  }

  .text-body-thin-400 {
    @apply font-normal text-xs;
  }

  .text-body-thin-500 {
    @apply font-medium text-xs;
  }

  .text-body-thin-600 {
    @apply font-semibold text-xs;
  }

  .text-body-small-400 {
    @apply font-normal text-sm;
  }

  .text-body-small-500 {
    @apply font-medium text-sm;
  }

  .text-body-small-600 {
    @apply font-semibold text-sm;
  }

  .text-body-regular-400 {
    @apply font-normal text-base;
  }

  .text-body-regular-500 {
    @apply font-medium text-base;
  }

  .text-body-regular-600 {
    @apply font-semibold text-base;
  }

  .text-body-large-400 {
    @apply font-normal text-lg;
  }

  .text-body-large-500 {
    @apply font-medium text-lg;
  }

  .text-body-large-600 {
    @apply font-semibold text-lg;
  }

  .text-heading-01 {
    @apply font-semibold text-5xl;
  }

  .text-heading-02 {
    @apply font-semibold text-4xl;
  }

  .text-heading-03 {
    @apply font-semibold text-3xl;
  }

  .text-heading-04 {
    @apply font-semibold text-2xl;
  }

  .text-heading-05 {
    @apply font-semibold text-xl;
  }
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
