@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-gray-50: #f0f1f3;
  --color-gray-100: #e6e8eb;
  --color-gray-200: #c3c7ce;
  --color-gray-300: #a5acb5;
  --color-gray-400: #87909d;
  --color-gray-500: #697484;
  --color-gray-600: #556070;
  --color-gray-700: #424e60;
  --color-gray-800: #2b384c;
  --color-gray-900: #132238;
  --color-primary-100: #edd8ff;
  --color-primary-200: #dbb1ff;
  --color-primary-300: #c98bff;
  --color-primary-400: #b764ff;
  --color-primary-500: #a53dff;
  --color-primary-600: #8431cc;
  --color-primary-700: #632599;
  --color-primary-800: #421866;
  --color-primary-900: #210c33;
}

@layer base {
  /*
    Tailwind base styles
  */
}

@layer components {
  /*
    Tailwind components
  */
}

@layer utilities {
  /*
    Tailwind utilities
  */
}
